﻿@model  ICollection<PizzaViewModel>
@{
    ViewData["Title"] = "PizzaMenu";

}

<h2>PizzaMenu</h2>
<div class="table-responsive">
    <table class="table">
        @foreach (var pizza in Model)
        {
            <tr>
                <td>@pizza.Name</td>
                <td>@pizza.Description</td>
                <td><img src="@pizza.ImageUrl"/></td>
                <td>@pizza.Price</td>
                <td>@pizza.LanguageCode</td>
            </tr>
        }
    </table>
</div>



